# Dependencies
/frontend/node_modules
/backend/venv
__pycache__/
*.pyc

# Environment variables
.env

# Build files
/frontend/build
/frontend/dist

# IDE files
.vscode/
.idea/

# Misc
.DS_Store
*.log
